<!doctype html>
<html ng-app="SpaceInvadersApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

    <style>
        body, html{
            padding: 0;
            margin: 0;
        }

        *{
            box-sizing: border-box;
        }

        .board{
            background-color: #ddd;
            height: 85vh;
            width: 100vw;
            position: relative;
        }

        .enemy, .player{
            position: absolute;
        }

        .enemy{
            background-color: red;
        }

        .player{
            background-color: blue;
        }

        .button{
            width: 40px;
            height: 40px;
            background-color: #333;
            position: absolute;
            bottom: 0;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: .6;
            user-select: none;
        }

        .button-left{
            left: 0;
        }
        .button-right{
            right: 0;
        }
    </style>

    <main ng-controller="SpaceInvadersCtrl">
        <div class="board">

            <div class="enemy" ng-repeat="enemy in enemies" ng-style="enemy.getState()"></div>
    
            <div class="shot" ng-repeat="shot in shots" ng-style="shot.getState()"></div>
    
            <div class="player" ng-style="player.getState()"></div>

            <div class="button button-left" hm-press="player.startmoving(-1)" hm-pressup="player.stopmoving()">◀</div>
            <div class="button button-right" hm-press="player.startmoving(1)" hm-pressup="player.stopmoving()">▶</div>

    
        </div>
    </main>
 

    <script src="node_modules/hammerjs/hammer.min.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-hammer/angular.hammer.min.js"></script>
    

    <script>
        angular.module('SpaceInvadersApp',['hmTouchEvents'])

        .controller('SpaceInvadersCtrl', function($scope, $interval, $window){

            var ratio, player_height, player_width, 
                enemy_width, enemy_height, 
                enemy_offset, enemy_offset_top,
                enemies_per_row


            player_width = 5
            player_height = 5
            enemy_width = 5 
            enemy_height = 5     
            enemy_offset = 2
            enemy_offset_top = 2
            enemies_per_row = 5

            $scope.enemies = [];

            initEnemies()

            $scope.player = newPlayer();

            startLoop();


            function startLoop(){

                var loop = $interval(function(){
                    
                    angular.forEach($scope.enemies, function(enemy){
                        enemy.move()
                    })                    


                }, 1000/40)
            }

            function initEnemies(){
                for (let i = 0; i < enemies_per_row * 2; i++) {
                    $scope.enemies.push(newEnemy())
                }                
            }


            function newPlayer(){
                return {
                    moved_left: 0,
                    movement: null,
                    getWidth: function(){
                        return player_width;
                    },
                    getHeight: function(){
                        return player_height * ratio();
                    },
                    getLeft: function(){
                        return 50 + this.moved_left;
                    } ,
                    getTop: function(){
                        return 85 - this.getHeight();
                    },
                    startmoving: function(direction){
                        var player = this;
                        player.movement = $interval(function(){
                            player.moved_left += direction;
                        }, 1000/40)
                    },
                    stopmoving: function(){
                        var player = this;
                        $interval.cancel(player.movement)
                    },
                    move : function(direction){
                        this.moved_left += direction;
                    },
                    getState : function(){
                        return {
                            left: this.getLeft() + 'vw',
                            top: this.getTop() + 'vh',
                            width: this.getWidth() + 'vw',
                            height: this.getHeight() + 'vh'
                        }
                    }
                }
            }

            function newEnemy(){


                return {
                    direction: 1,
                    moved_left: 0,
                    moved_top: 0,
                    position: $scope.enemies.length,
                    previous: $scope.enemies.length > 0 ? $scope.enemies[$scope.enemies.length -1] : null,
                    getWidth: function(){
                        return enemy_width;
                    },
                    getHeight: function(){
                        return enemy_height * ratio();
                    },
                    getLeft: function(){

                        function isFirstOfRow(e){
                            return e.position == 0 || e.position % enemies_per_row == 0
                        }

                        var left = isFirstOfRow(this) ? this.moved_left :
                                    (this.getWidth() + enemy_offset) * (this.position % enemies_per_row) + this.moved_left;

                        return left;
                    } ,
                    getTop: function(){

                        function enemyRowNum(e){
                            return parseInt( e.position / enemies_per_row) + 1;
                        }

                        var top = enemyRowNum(this) * (this.getHeight()  + enemy_offset_top) + this.moved_top

                        return top;
                    },
                    move : function(){

                        function isOutOfRange(e){
                            return 100 <= ((e.getWidth()  + enemy_offset) * enemies_per_row ) + e.moved_left
                        }

                        if(this.direction === 1 && isOutOfRange(this)){
                            this.direction = -1
                            this.moved_top++;
                        }

                        if(this.direction === -1 && this.moved_left <= 0){
                            this.direction = 1
                            this.moved_top++;
                        }

                        this.moved_left += this.direction;

                    },
                    getState : function(){
                        return {
                            left: this.getLeft() + 'vw',
                            top: this.getTop() + 'vh',
                            width: this.getWidth() + 'vw',
                            height: this.getHeight() + 'vh'
                        }
                    }
                }
            }

            function ratio(){
                return $window.innerWidth / window.innerHeight
            }

        })

    </script>

</body>

</html>